name: Run Aggregator

on:
  workflow_dispatch:
  schedule:
    - cron: 45 3 * * *

jobs:
  prepare-matrix:
    runs-on: ubuntu-latest
    outputs:
      iso_matrix: ${{ steps.read.outputs.iso_matrix }}
    steps:
      - name: Read ISO codes
        uses: actions/checkout@v4
      - name: Read iso codes file
        id: read
        run: |
          matrix=$(cat iso_codes.json)
          echo "iso_matrix=$matrix" >> $GITHUB_OUTPUT
  build:
    needs: prepare-matrix
    strategy:
      max-parallel: 38
      fail-fast: false
      matrix:
        iso_code: ${{ fromJson(needs.prepare-matrix.outputs.iso_matrix) }}
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Aggregator
      uses: actions/checkout@v4
      with:
        repository: samconley/newsatlas
        ref: main
        path: newsatlas
        token: ${{ secrets.AGG_PAT }}
    - name: Setup python and cache
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
        cache: 'pipenv'
    - name: Install pipenv 
      run: |
          curl https://raw.githubusercontent.com/pypa/pipenv/master/get-pipenv.py | python
    - name: Install deps
      run: |
          cd newsatlas/aggregator
          pipenv install
    - name: Run Aggregator
      run: |
        cd newsatlas/aggregator
        pipenv run python main.py
      env:
        ISO_CODE: ${{ matrix.iso_code }}
        DB_WRITER_PASSWORD: ${{ secrets.DB_WRITER_PASSWORD }}